.image-flex-div{
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.card-div{
    /* width: 20vw; */
    margin: 1rem;
    margin-bottom: 2em;
    /* display: flex; */
    /* flex-direction: column; */

}
.card-hotel-img{
    width: 280px;
    height: 270px;
}
.place-header{
    display: flex;
    justify-content: space-between;

}
.card-footer{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}